
# Python
*.pyc
__pycache__
venv/
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Golang
.idea/
*.log
*.out
*.test
__pycache__/
*.pyc
*.pyo
__pycache__
.cache/
log/
logs/
.vscode/
.DS_Store
*.bak
*.swp

# Node.js
node_modules/
npm-debug.log
yarn-error.log
*.log

.vim
.idea
